:root {
  --background-light-theme: #f5f5f5;
  --blue: #2645f7;
  --light-blue: #1dc2e7;
  --red: #f2040a;
  --yellow: #f5e304;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins.ttf") format("truetype");
}

body {
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light-theme);
}

.container {
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.container h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2.5rem;
  padding: 0 15px;
}

.container > h1 > span {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.container img {
  margin-top: 4rem;
  width: 120px;
  height: 120px;
  transform-origin: center;
  animation: heartBeat 1s infinite;
}

.referral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.special-span {
  align-self: center;
  text-decoration: none;
  position: relative;
  font-weight: 600;
}

.underline-gradient::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--red),
    var(--yellow),
    var(--light-blue)
  );
}

.rights-container {
  height: 3rem;
  overflow: hidden;
}

.rights {
  display: flex;
  flex-direction: column;
  animation: change 28s linear infinite alternate;
  align-items: center;
  justify-content: center;
}

.rights span {
  font-size: 1.5rem;
  font-weight: 100;
  height: 3rem;
}

@keyframes change {
  0%,
  9% {
    transform: translate3d(0, 0rem, 0);
  }
  9.5%,
  18% {
    transform: translate3d(0, -3rem, 0);
  }
  18.5%,
  27% {
    transform: translate3d(0, -6rem, 0);
  }
  27.5%,
  36% {
    transform: translate3d(0, -9rem, 0);
  }
  36.5%,
  45% {
    transform: translate3d(0, -12rem, 0);
  }
  45.5%,
  54% {
    transform: translate3d(0, -15rem, 0);
  }
  54.5%,
  63% {
    transform: translate3d(0, -18rem, 0);
  }
  63.5%,
  70% {
    transform: translate3d(0, -21rem, 0);
  }
  70.5%,
  80% {
    transform: translate3d(0, -24rem, 0);
  }
  80.5%,
  90% {
    transform: translate3d(0, -27rem, 0);
  }
  90.5%,
  100% {
    transform: translate3d(0, -30rem, 0);
  }
}

.social {
  height: 50px;
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  gap: 10px;
  position: relative;
  font-size: 15px;
}

.social a,
.referral span {
  color: #5f6368;
  align-self: center;
  text-decoration: none;
  position: relative;
}

.social a::after,
.referral span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -4px;
  left: 0;
  transition: width 0.2s linear;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--red),
    var(--yellow),
    var(--light-blue)
  );
}

.social a:hover::after,
.referral span:hover::after {
  width: 100%;
}

.specific {
  background: -webkit-linear-gradient(var(--blue), var(--red));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 400px) {
  .rights-container {
    margin-top: 0.5rem;
    height: 3rem;
  }

  .rights span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  .rights .large-text {
    font-size: 1.1rem;
    line-height: 1rem;
  }

  .social {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .large-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 600px) {
  .rights span {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
