:root {
  --background-light-theme: #f5f5f5;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins.ttf") format("truetype");
}

body {
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--background-light-theme);
}
